@inherits UmbracoTemplatePage
<!-- Main Image -->

<div id="header" style="background: url('@(Umbraco.Field("headerImage", recursive:true))') center center no-repeat;">
    <a id="header-image" href="/"><img src="@(Umbraco.Field("headerLogo", recursive:true))" alt="Logo"/></a>
</div>
<!-- /Main Image -->