@using System.Linq.Expressions
@using System.Web.Mvc
@using System.Web.Mvc.Html

@functions
{
    public delegate MvcHtmlString EditorDelegate<TModel, TValue>(Expression<Func<TModel, TValue>> expression);

    public static HelperResult PersonalData<TModel, TValue>(HtmlHelper<TModel> html, Expression<Func<TModel, TValue>> expression, EditorDelegate<TModel, TValue> editor)
    {
        return PersonalDataHelper(html.LabelFor(expression), html.ValidationMessageFor(expression), editor(expression));
    }

    public static HelperResult MotivationData<TModel, TValue>(HtmlHelper<TModel> html, Expression<Func<TModel, TValue>> expression,
        EditorDelegate<TModel, TValue> editor)
    {
        return MotivationDataHelper(html.LabelFor(expression), html.ValidationMessageFor(expression), editor(expression));
    }

    public static HelperResult PersonalData<TModel, TValue>(HtmlHelper<TModel> html, Expression<Func<TModel, TValue>> expression, MvcHtmlString editorString)
    {
        return PersonalDataHelper(html.LabelFor(expression), html.ValidationMessageFor(expression), editorString);
    }
}

@helper PersonalDataHelper(MvcHtmlString labelString, MvcHtmlString validationString, MvcHtmlString editorString)
{
    <div class="row">
        <div class="3u">
            @labelString
        </div>
        <div class="9u">
            @editorString
            @validationString
        </div>
    </div>
}

@helper MotivationDataHelper(MvcHtmlString labelString, MvcHtmlString validationString, MvcHtmlString editorString)
{
    <div class="row">
        <div class="4u">
            @labelString
        </div>
        <div class="8u">
            @editorString
            @validationString
        </div>
    </div>
}
