@inherits UmbracoTemplatePage
@{
    Layout = "ContentBase.cshtml";
}

@section Body
{
    <div class="home-page">
        <div class="row">
            @{Html.RenderPartial("/Views/Partials/Features.cshtml");}
        </div>
        <div class="row">
            @{ Html.RenderPartial("/Views/Partials/NewsHorizontal.cshtml"); }
        </div>
    </div>
}

@*@section Sidebar
    {
        @{Html.RenderPartial("/Views/Partials/NewsWithHeaderSidebar.cshtml");}
    }*@