@inherits UmbracoTemplatePage
@{
    Layout = "ContentBase.cshtml";
}

@section Body
{
    <div class="home-page">
        <div class="row">
            <div class="12u">
                @{ Html.RenderPartial("/Views/Partials/Features.cshtml"); }
            </div>
        </div>
        <div class="row">
            <div class="12u">
                @{ Html.RenderPartial("/Views/Partials/NewsHorizontal.cshtml"); }
            </div>
        </div>
    </div>
}

@*@section Sidebar
    {
        @{Html.RenderPartial("/Views/Partials/NewsWithHeaderSidebar.cshtml");}
    }*@