body {
    font-size: 10.5pt;
}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

#main-wrapper {
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header {
    height: 340px;
    background-size: cover !important;
}

#header-logo {
    top: 65px;
    left: -20px;
    height: 140px;
    width: 255px;
}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

#main {
    
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer {
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright {

}
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
